<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>esprit1718b2eventmanagement-web</display-name>
	<context-param>
		<param-name>javax.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
		<param-value>true</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayBannerServlet</display-name>
		<servlet-name>DisplayBannerServlet</servlet-name>
		<servlet-class>tn.esprit.b2.esprit1718b2eventmanagement.mBeans.eventroom.DisplayBannerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayBannerServlet</servlet-name>
		<url-pattern>/DisplayBannerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DisplayBoothServelet</display-name>
		<servlet-name>DisplayBoothServelet</servlet-name>
		<servlet-class>ExhibitionHall.DisplayBoothServelet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DisplayBoothServelet</servlet-name>
		<url-pattern>/DisplayBoothServelet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CompanyImageServlet</display-name>
		<servlet-name>CompanyImageServlet</servlet-name>
		<servlet-class>tn.esprit.b2.esprit1718b2eventmanagement.mBeans.eventroom.CompanyImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompanyImageServlet</servlet-name>
		<url-pattern>/CompanyImageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadProfilePic</display-name>
		<servlet-name>UploadProfilePic</servlet-name>
		<servlet-class>tn.esprit.b2.esprit1718b2eventmanagement.hr.UploadProfilePic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadProfilePic</servlet-name>
		<url-pattern>/UploadProfilePic</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UploadBannerServlet</display-name>
		<servlet-name>UploadBannerServlet</servlet-name>
		<servlet-class>tn.esprit.b2.esprit1718b2eventmanagement.mBeans.eventroom.UploadBannerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadBannerServlet</servlet-name>
		<url-pattern>/UploadBannerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ShowProfileImage</display-name>
		<servlet-name>ShowProfileImage</servlet-name>
		<servlet-class>tn.esprit.b2.esprit1718b2eventmanagement.hr.ShowProfileImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProfileImage</servlet-name>
		<url-pattern>/ShowProfileImage</url-pattern>
	</servlet-mapping>
</web-app>